.wrapper {
  width: 400px;
  background-color: aliceblue;
  font-family:Arial, Helvetica, sans-serif;
}

.result-display {
  display: flex;
  height: 50px;
  background-color: black;
  color: white;
  justify-content: end;
  font-size: 45px;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  color: white;
  border: 1px solid black;
}

.btn.big {
  flex-grow: 2;
}

.btn.bigger {
  flex-grow: 3;
}
